
    .slider-wrapper {
        position: relative;
        width: 100%;
        height: auto;
        margin: auto;
        overflow: hidden;
    }
    
    .slider {
        width: 100%;
        height: auto;
        overflow: hidden;
        white-space: nowrap;
    }

    .slider .slide {
        width: 200px;
        padding: 20px;
    }
    
    .slider .slide .image-container {
        position: relative;
        width: 100%;
    }
    
    .slider .slide img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    .slider .slide-track {
        display: inline-flex;
        animation: 40s scroll linear infinite;
        width: calc(100px * 50);
    }
    @keyframes scroll {
                from {
                    transform: translateX(0);
                }
    
                to {
                    transform: translateX(-100%);
                }
            }