
@keyframes slide {
    from {
        transform: translateX(1%);
    }
    to {
        transform: translateX(-90%);
    }
}

    .logos {
        overflow: hidden;
        padding: 80px 50px;
        background: white;
        white-space: nowrap;
    }
    .logos-slide {
        display: inline-block;
        justify-content: space-between;
        animation: 15s slide infinite linear;
    }

    .logos-slide img {
        height: 100px;
        margin: 0 20px;
    }
