---
import Layout from "../layouts/Layout.astro";
import { datita } from "../scripts/datita";
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Container from "../components/Container.astro";
import Formu from "../components/Formu.astro";

export function getStaticPaths() {
  const fran = datita.map((e) => e.codcar);
  return fran.map((codcar) => ({ params: { codcar: codcar.toString() } }));
}
const { codcar } = Astro.params;
// Buscar el objeto dentro de datita que coincide con codcar
const carrera = datita.find((e) => e.codcar.toString() === codcar);
/* const dura = datita.find((e) => e.duracion.toString() === codcar); */

//funcion para sacar el modo del array datita
function getModeText(modoArray) {
  const modes = {
    1: "Presencial",
    7: "Digital",
  };

  if (modoArray.includes(1) && modoArray.includes(7)) {
    return "Presencial y Digital";
  } else if (modoArray.includes(1)) {
    return modes[1];
  } else if (modoArray.includes(7)) {
    return modes[7];
  } else {
    return "no encontrada";
  }
}
---

<Layout title={carrera ? carrera.nombre : "Carrera no encontrada"}>
    <Container>
      <div class="py-2 grid grid-cols-2 md:grid-cols-3 border-b-2 border-black">
        <div class="flex justify-start">
          <Button label="Volver atras" dir="history.go(-1);" />
        </div>
        <div class="flex md:justify-center justify-end">
          <img
            src="/landing/ingreso-carreras-ucasal/isologo.svg"
            alt="UCASAL Logo"
            class="w-1/2"
          />
        </div>
        <div class="justify-end hidden md:flex">
          <Button
            label="¡Quiero inscribirme!"
            dir="https://www.ucasal.edu.ar/inscripciones"
          />
        </div>
      </div>
    </Container>
    <Container>
        <div class="mx-auto pt-3 bg-white flex flex-col md:flex-row">
          <div class="w-full md:w-2/3 bg-white">
            <div class="text-gray-500 text-sm">
              Carreras de Grado / Carreras Presenciales <br />
              <span class="text-red-600">Facultad de Ciencias Jurídicas</span>
            </div>
            <div class="top-0 left-0 right-0 z-10">
              <div class="border-b-2 border-gray-300 my-4">
                <div class="flex flex-col md:flex-row md:justify-between md:items-center">
                  <h2 class="text-3xl font-bold">
                    {carrera ? carrera.nombre : "Carrera no encontrada"}
                  </h2>
                </div>
                <p class="text-sm text-gray-500 mt-3">
                  Aprobada por Resolución Ministerial Nº 2214/11
                </p>
              </div>
            </div>            
            <div class="flex items-center">
              <img
              src=`/landing/ingreso-carreras-ucasal/agosto/${carrera? carrera.nom_landing : "general"}.jpg`
              alt={carrera ? carrera.nombre : "imagen-carrera"}
              class="w-full rounded shadow-2xl max-md:opacity-80"
            />
            </div>
          </div>
          <div class="w-full md:w-1/5 flex flex-col justify-center space-y-4 mt-6 md:mt-0">
            <div class="bg-red-600 text-white text-center py-4 px-8 rounded">
              <p class="text-2xl font-bold">
              {carrera ? carrera.duracion : "N/A"}
              </p>
            </div>
            <div class="bg-red-600 text-white text-center py-4 px-8 rounded">
              <p class="text-2xl font-bold">2.864</p>
              <p>HS. Carga Horaria</p>
            </div>
            <div class="bg-red-600 text-white text-center py-4 px-8 rounded">
              <p class="text-2xl font-bold">Modalidad</p>
              <p>Presencial</p>
            </div>
          </div>          
        </div>
        <div class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-6">
          <div class="p-4 border rounded bg-gray-50">
            <h3 class="text-red-600 text-lg mb-2">Perfil del Egresado</h3>
            <ul class="list-disc list-inside text-gray-700">
              <li>Prestar servicios profesionales a la sociedad y para la sociedad.</li>
              <li>Ver al derecho como una herramienta para la convivencia humana y a la justicia social.</li>
              <li>Tener fe en la libertad sin la cual no hay ni derecho, ni justicia, ni paz.</li>
              <li>
                Reciclar sus conocimientos, enriquecer sus experiencias, acrecentar la
                profundidad de su pensamiento y reconocer sus errores y dificultades.
              </li>
              <li>
                Ser celoso auxiliar de la justicia con una incondicional indignación y
                desprecio a la procuración de injusticia.
              </li>
              <li>
                Tener profundo conocimiento de la ley, la doctrina, la jurisprudencia y
                los profesionales del derecho.
              </li>
              <li>Ser protagonista del presente y artífice del futuro, con el objetivo apasionante de servir al derecho.</li>
            </ul>
          </div>
          <!-- Form -->
          <div class="p-6 border rounded bg-gray-50">
            <Formu codcar={carrera.codcar.toString()} />
          </div>
        </div>
    </Container>
  <Footer />
</Layout>