---
import { datita } from "../scripts/datita";
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Container from "../components/Container.astro";
import Formu from "../components/Formu.astro";
export const prerender = true;

export function getStaticPaths() {
  const fran = datita.map((e) => e.codcar);
  return fran.map((codcar) => ({ params: { codcar: codcar.toString() } }));
}
const { codcar } = Astro.params;
// Buscar el objeto dentro de datita que coincide con codcar
const carrera = datita.find((e) => e.codcar.toString() === codcar);
/* const dura = datita.find((e) => e.duracion.toString() === codcar); */

//funcion para sacar el modo del array datita
function getModeText(modoArray) {
  const modes = {
    1: "Presencial",
    7: "Digital",
  };

  if (modoArray.includes(1) && modoArray.includes(7)) {
    return "Presencial y Digital";
  } else if (modoArray.includes(1)) {
    return modes[1];
  } else if (modoArray.includes(7)) {
    return modes[7];
  } else {
    return "no encontrada";
  }
}
---

<div class="bg-gray-100">
    <Container>
      <div class="p-2 grid grid-cols-3 border-b-2  border-black">
        <div class="flex justify-start">
          <Button label="Volver atras" dir="history.go(-1);" />
        </div>
        <div class="flex justify-center">
          <img src="/landing/ingreso-carreras-ucasal/isologo.svg" alt="UCASAL Logo" class="mr-4 w-1/2" />
        </div>
        <div class="flex justify-end">
          <Button
            label="¡Quiero inscribirme!"
            dir="https://www.ucasal.edu.ar/inscripciones"
          />
        </div>
      </div>
    </Container>
  <Container>
    <main class="p-2 mt-4  rounded">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
        <div class="row row-span-1 md:row-span-4">
          <img
            src=`/landing/ingreso-carreras-ucasal/agosto/${carrera? carrera.nom_landing : "general"}.jpg`
            alt=`${carrera? carrera.nombre : "imagen-carrera"}`
            class="w-full rounded shadow-md"
          />
          <div class="items-center">
            <div class="overflow-hidden p-6 mx-auto">
              <div class="mt-8">
                <div class="flex items-center mb-6">
                  <img src="/landing/ingreso-carreras-ucasal/complemento/01.svg" class="w-12 h-12" />
                  <h1 class="ml-4 text-lg font-medium text-gray-700">
                    <span class="text-xl"> Cantidad de horas </span><br />
                    <span class="text-md">
                      {carrera.duracion ? carrera.duracion : "algo"}
                    </span>
                  </h1>
                </div>
                <div class="flex items-center mb-6">
                  <img src="/landing/ingreso-carreras-ucasal/complemento/06.svg" class="w-12 h-12" />
                  <h1 class="ml-4 text-lg font-medium text-gray-700">
                    <span class="text-xl"> Modalidad </span><br />
                    <span class="text-md">
                      {
                        carrera
                          ? getModeText(carrera.modo)
                          : "Carrera no Encontrada."
                      }
                    </span>
                  </h1>
                </div>
                <div class="flex items-center mb-6">
                  <img src="/landing/ingreso-carreras-ucasal/complemento/05.svg" class="w-12 h-12" />
                  <h1 class="ml-4 text-lg font-medium text-gray-700">
                    <span class="text-xl"> Inicio de Clases </span><br />
                    <span class="text-md"> </span>
                  </h1>
                </div>
                <div class="flex items-center mb-6">
                  <img src="/landing/ingreso-carreras-ucasal/complemento/07.svg" class="w-12 h-12" />
                  <h1 class="ml-4 text-lg font-medium text-gray-700">
                    <span class="text-xl"> Cantidad de Materias </span><br />
                    <span class="text-md"> </span>
                  </h1>
                </div>
              </div>
            </div>
            <div class="flex space-x-4 justify-center">
              <button
                data-modal-target="default-modal"
                data-modal-toggle="default-modal"
                class="h-12 w-36 text-white bg-[#B11111] focus:ring-4 focus:outline-none focus:ring-orange-300 font-bold rounded-full text-xs px-4 py-2 text-center md:mr-0"
                type="button"
                aria-label="Abrir plan de Estudios"
              >
                Plan de Estudios
              </button>
              <div
                id="default-modal"
                tabindex="-1"
                aria-hidden="true"
                class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
              >
                <div class="relative p-4 w-full max-w-2xl max-h-full">
                  <!-- Modal content -->
                  <div
                    class="relative bg-white rounded-lg shadow dark:bg-gray-700"
                  >
                    <!-- Modal header -->
                    <div
                      class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
                    >
                      <h3
                        class="text-xl font-semibold text-gray-900 dark:text-white"
                      >
                        Plan de Estudio
                      </h3>
                      <button
                        type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        data-modal-hide="default-modal"
                      >
                        <svg
                          class="w-3 h-3"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 14 14"
                        >
                          <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
                        </svg>
                        <span class="sr-only">Close modal</span>
                      </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-4 md:p-5 space-y-4">
                      <p
                        class="text-base leading-relaxed text-gray-500 dark:text-gray-400"
                      >
                        With less than a month to go before the European
                        Union enacts new consumer privacy laws for its
                        citizens, companies around the world are updating
                        their terms of service agreements to comply.
                      </p>
                      <p
                        class="text-base leading-relaxed text-gray-500 dark:text-gray-400"
                      >
                        The European Union’s General Data Protection
                        Regulation (G.D.P.R.) goes into effect on May 25 and
                        is meant to ensure a common set of data rights in
                        the European Union. It requires organizations to
                        notify users as soon as possible of high-risk data
                        breaches that could personally affect them.
                      </p>
                    </div>
                    <!-- Modal footer -->
                    <div
                      class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600"
                    >
                      <button
                        data-modal-hide="default-modal"
                        type="button"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        >I accept</button
                      >
                      <button
                        data-modal-hide="default-modal"
                        type="button"
                        class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                        >Decline</button
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-2">
          <div class="p-4">
            <div class="border-b-2 border-gray-300 mb-4">
              <div class="flex justify-between items-center">
                <h2 class="text-3xl font-bold">
                  {carrera ? carrera.nombre : "Carrera no encontrada"}
                </h2>
                <span class="bg-blue-100 text-blue-800 px-2 py-1 rounded w-48">
                  Duraci&oacute;n: {carrera ? carrera.duracion : "N/A"}
                </span>
              </div>
              <p class="text-sm text-gray-500">
                Aprobada por Resolución Ministerial Nº 2214/11
              </p>
            </div>
            <div class="grid grid-cols-1 h-full justify-center items-center">
                <h3 class="text-lg font-semibold text-red-600">
                  Descripci&oacute;n de carrera:
                </h3>
                <p class="text-gray-700 mt-2 mr-3">
                  {carrera ? carrera.description : "Carrera no encontrada"}
                </p>
                <div class="flex justify-center">
                  <Formu codcar={carrera.codcar.toString()} />
            </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </Container>
</div>
<Footer />