<div class="mx-10 text-center font-extrabold">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima facere consequatur ducimus aperiam, ea, praesentium veniam repellendus similique, totam quibusdam modi quidem quasi odio fugiat nihil optio dicta dolores nam!
</div>