---
const { label, href } = Astro.props;
---
<button onclick={href} class="hidden sm:block text-white bg-[#B11111] hover:bg-[#ee1818] focus:ring-4 focus:outline-none focus:ring-orange-300 font-bold rounded-full text-xs px-4 py-2 text-center buttonno">
    {label}
    <svg fill="currentColor" viewBox="0 0 24 24" class="icon rotate-90">
        <path clip-rule="evenodd"
        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
        fill-rule="evenodd"></path>
    </svg>
</button>
<style>
     .buttonno {
      position: relative;
      transition: all 0.3s ease-in-out;
      padding-block: 0.5rem;
      padding-inline: 1.25rem;
      background-color: #B11111;
      border-radius: 9999px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffff;
      gap: 10px;
      /*       font-weight: bold;
 */
      border: 3px solid #ffffff4d;
      outline: none;
      overflow: hidden;
      font-size: 15px;
    }

    .zoom-effect {
      transform: scale(1.05);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      transition: transform 0.3s ease;
    }

    .icon {
      width: 24px;
      height: 24px;
      transition: all 0.3s ease-in-out;
    }

    .buttonno:hover {
      transform: scale(1.05);
      border-color: #fff9;
    }

    .buttonno:hover .icon {
      transform: translate(4px);
    }

    .buttonno:hover::before {
      animation: shine 1.5s ease-out infinite;
    }

    .buttonno::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 100%;
      background-image: linear-gradient(120deg,
          rgba(255, 255, 255, 0) 30%,
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 0) 70%);
      top: 0;
      left: -100px;
      opacity: 0.6;
    }
</style>