<div class="slider-wrapper bg-white py-2">
    <div class="slider bg-white">
        <div class="slide-track">
            <div class="slide">
                <div class="image-container">
                    <img src="/convenios/aefip.png" class="img-responsive center-block" alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="/convenios/Amugenal.png" class="img-responsive center-block" alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="/convenios/buenos aires.png" class="img-responsive center-block"
                        alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="/convenios/cspfa.png" class="img-responsive center-block" alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="/convenios/Ejercito argentino.png" class="img-responsive center-block"
                        alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="/convenios/enacom.png" class="img-responsive center-block" alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="/convenios/fage.png" class="img-responsive center-block" alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="/convenios/ledesma.png" class="img-responsive center-block" alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="/convenios/servicio penitenciario federal.png"
                        class="img-responsive center-block" alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="/convenios/union de empleados de la justicia de la nacion.png"
                        class="img-responsive center-block" alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="/convenios/upcn.png" class="img-responsive center-block" alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="/convenios/upsafip.png" class="img-responsive center-block" alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="/convenios/osde.png" class="img-responsive center-block" alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="/convenios/sancor.png" class="img-responsive center-block" alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="/convenios/Santander.png" class="img-responsive center-block"
                        alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="/convenios/seaboard.png" class="img-responsive center-block" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>