<div class="slider-wrapper bg-white py-2">
    <div class="slider bg-white">
        <div class="slide-track">
            <div class="slide">
                <div class="image-container">
                    <img src="public/convenios/aefip.png" class="img-responsive center-block" alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="public/convenios/Amugenal.png" class="img-responsive center-block" alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="public/convenios/buenos aires.png" class="img-responsive center-block"
                        alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="public/convenios/cspfa.png" class="img-responsive center-block" alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="public/convenios/Ejercito argentino.png" class="img-responsive center-block"
                        alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="public/convenios/enacom.png" class="img-responsive center-block" alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="public/convenios/fage.png" class="img-responsive center-block" alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="public/convenios/ledesma.png" class="img-responsive center-block" alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="public/convenios/servicio penitenciario federal.png"
                        class="img-responsive center-block" alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="public/convenios/union de empleados de la justicia de la nacion.png"
                        class="img-responsive center-block" alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="public/convenios/upcn.png" class="img-responsive center-block" alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="public/convenios/upsafip.png" class="img-responsive center-block" alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="public/convenios/osde.png" class="img-responsive center-block" alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="public/convenios/sancor.png" class="img-responsive center-block" alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="public/convenios/Santander.png" class="img-responsive center-block"
                        alt="" />
                </div>
            </div>

            <div class="slide">
                <div class="image-container">
                    <img src="public/convenios/seaboard.png" class="img-responsive center-block" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
