        <div class="logos bg-white py-2">
            <div class="logos-slide flex"> 
                <img src="./convenios/aefip.png" />
                <img src="./convenios/Amugenal.png" />
                <img src="./convenios/buenos aires.png" />
                <img src="./convenios/cspfa.png" />
                <img src="./convenios/Ejercito argentino.png" />
                <img src="./convenios/enacom.png" />
                <img src="./convenios/fage.png" />
                <img src="./convenios/ledesma.png" />
                <img src="./convenios/servicio penitenciario federal.png" />
                <img src="/convenios/union de empleados de la justicia de la nacion.png"/>
                <img src="/convenios/upcn.png" />
                <img src="/convenios/upsafip.png" />
                <img src="./convenios/sancor.png" />
                <img src="./convenios/osde.png" />
                <img src="./convenios/Santander.png" />
                <img src="./convenios/seaboard.png" />

                <img src="./convenios/aefip.png" />
                <img src="./convenios/Amugenal.png" />
                <img src="./convenios/buenos aires.png" />
                <img src="./convenios/cspfa.png" />
                <img src="./convenios/Ejercito argentino.png" />
                <img src="./convenios/enacom.png" />
                <img src="./convenios/fage.png" />
                <img src="./convenios/ledesma.png" />
                <img src="./convenios/servicio penitenciario federal.png" />
                <img src="/convenios/union de empleados de la justicia de la nacion.png"/>
                <img src="/convenios/upcn.png" />
                <img src="/convenios/upsafip.png" />
                <img src="./convenios/sancor.png" />
                <img src="./convenios/osde.png" />
                <img src="./convenios/Santander.png" />
                <img src="./convenios/seaboard.png" />
            </div>
        </div> 