---
import Container from "./Container.astro"
---
<main class="snap-y snap-mandatory relative w-full h-screen overflow-hidden">
  <div class="snap-center">
    <section class="bg-black h-screen w-full text-center relative overflow-hidden z-0 flex flex-col justify-end lg:justify-center">
    <Container>
      <div class="justify-start grid grid-cols-1 mb-24 lg:mb-0">
        <div class="z-50">
          <h1 class="block leading-3 text-white rounded-lg text-4xl md:text-5xl font-thin py-2 text-left transform-gpu tracking-wide" style="text-shadow: 0 0 60px #0000; font-family: \'Bebas Neue\', sans-serif;">
            <span class="text-3xl font-thin md:text-6xl tracking-wide">INICI&Aacute; TU CARRERA</span><br>
            <span class="text-6xl font-semibold md:text-9xl tracking-wide">DESEADA</span>
          </h1>
        </div>
        <div class="items-center z-50 xs:justify-items-start lg:justify-start flex">
          <button class="buttonno font-bold hover:bg-[#ee1818]" onclick="scrollToForm('#formu')">
            ¡Solicitar Informacion!
            <svg fill="currentColor" viewBox="0 0 24 24" class="icon rotate-90">
              <path clip-rule="evenodd"
                d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                fill-rule="evenodd"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="absolute top-0 left-0 w-full h-full overflow-hidden">
        <picture class="w-full h-full">
          <source media="(max-width: 767px)" srcset="../ingreso-carreas-agosto-mobile.webp" />
          <source media="(min-width: 768px)" srcset="../ingreso-carreas-agosto-desktop.webp" />
          <img src="../ingreso-carreas-agosto-mobile.webp" class="w-full h-full object-cover"
            alt="Inicia en Agosto" />
          <div class="overlay hidden md:block lg:block xl:block"></div>
        </picture>
      </div>
    </Container>
    </section>
  </div>
</main>
<h1 class="bg-[#B11111] bg-auto text-white h-[40px] flex items-center justify-center text-lg font-extrabold">
EDUCANDO CORAZONES INTELIGENTES
</h1>