<main class="snap-y snap-mandatory relative w-full h-screen overflow-hidden">
  <div class="snap-center">
      <section
          class="bg-black h-screen w-full text-center relative overflow-hidden z-0 flex flex-col justify-end">
        <div class="justify-between flex items-center py-3 m-8">
            <div class="ml-5 py-5 z-50">
                <h1 class="block text-white rounded-lg text-3xl font-light py-2 px-4 text-left leading-8 tracking-[0.025em] transform-gpu lg:text-4xl mb-5 tracking-wide" style="text-shadow: 0 0 30px #fff">
                  Inicia tu<br><span class="font-black">Carrera en AGOSTO</span>
                </h1>
            </div>
          <div class="items-center mx-8 z-50">
            <a href="#formu" class="block text-dark bg-white bg-opacity-70 border border-white rounded-lg text-base font-medium py-2 px-4 text-center transition-transform transform-gpu hover:scale-105 hover:bg-orange-800 hover:text-white focus:outline-none focus:ring-4 focus:ring-orange-300" onclick="scrollToForm('#formu')">
              ¡Más Info!
            </a>
          </div>
        </div>
        <div class="absolute top-0 left-0 w-full h-full overflow-hidden">
            <picture class="w-full h-full">
                <source media="(max-width: 767px)" srcset="/emcabezado-distanciaMobil.mp4" />
                <source media="(min-width: 768px)" srcset="/emcabezado-distanciaMobil.mp4" />
                <img src="ingreso-carreras-2022/miniaturas/seguridad.jpg" class="w-full h-full object-cover"
                alt="Descripción de la imagen" />
                <div class="overlay"></div>
            </picture>
          </div>
      </section>
  </div>
</main>
<h1 class="bg-[#B11111] bg-auto text-white h-[40px] flex items-center justify-center text-lg font-extrabold">
EDUCANDO CORAZONES INTELIGENTES
</h1>

<style> 
.overlay {
            top: 0;
            position: absolute;
            width: 100%;
            left: 0;
            background-color: rgba(0, 0, 0, 0.6);
            /* Ajusta la opacidad a tu gusto */
            height: 100%;
            z-index: 1;
}
</style>