---
import Container from "./Container.astro"
import Button from "./Button.astro"
---
<main class="snap-y snap-mandatory relative w-full h-screen overflow-hidden">
  <div class="snap-center">
    <section class="bg-black h-screen w-full text-center relative overflow-hidden z-0 flex flex-col justify-center top-24 lg:top-0">
<Container>
      <div class="justify-start grid grid-cols-1 items-center lg:py-3">
        <div class="z-50">
          <h1 class="block leading-3 text-white rounded-lg py-2 text-left transform-gpu tracking-wide" style="text-shadow: 0 0 60px #0000; font-family: \'Bebas Neue\', sans-serif;">
            <span class="text-xl font-thin md:text-4xl tracking-wide">INICI&Aacute; TU CARRERA</span><br>
            <span class="text-3xl font-semibold md:text-7xl tracking-wide">DESEADA</span>
          </h1>
        </div>
        <div class="items-center z-50 justify-start flex">
          <button onclick="scrollToForm('#formu')" class="hidden sm:block text-white bg-[#B11111] hover:bg-[#ee1818] focus:ring-4 focus:outline-none 
focus:ring-orange-300 font-bold rounded-full text-xs px-4 py-2 text-center buttonno">
    Solicito informacion
    <svg fill="currentColor" viewBox="0 0 24 24" class="icon rotate-90">
        <path clip-rule="evenodd"
        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
        fill-rule="evenodd"></path>
    </svg>
</button>
        </div>
      </div>
      <div class="absolute top-0 left-0 w-full h-full overflow-hidden">
        <picture class="w-full h-full">
          <source media="(max-width: 767px)" srcset="../ingreso-carreas-agosto-mobile.webp" />
          <source media="(min-width: 768px)" srcset="../ingreso-carreas-agosto-desktop.webp" />
          <img src="../ingreso-carreas-agosto-mobile.webp" class="w-full h-full object-cover"
            alt="Inicia en Agosto" />
          <div class="overlay hidden md:block lg:block xl:block"></div>
        </picture>
      </div>
    </Container>
    </section>
  </div>
</main>
<h1 class="bg-[#B11111] bg-auto text-white h-[40px] flex items-center justify-center text-lg font-extrabold">
EDUCANDO CORAZONES INTELIGENTES
</h1>

<script is:inline>
  function scrollToForm() {
  var componente = document.getElementById("pedidoinfo"); // Obtener el componente

  // Calcular la posición del componente
  var componentePosicion = componente.offsetTop;

  // Hacer scroll hasta la posición del componente
  window.scrollTo({
    top: componentePosicion - 110,
    behavior: "smooth"
    
  });

  // Esperar un tiempo antes de aplicar el zoom
  setTimeout(function () {
    // Añadir la clase de efecto de zoom al componente
    componente.classList.add("zoom-effect");

    // Esperar un tiempo antes de quitar el zoom
    setTimeout(function () {
      // Quitar la clase de efecto de zoom
      componente.classList.remove("zoom-effect");
    }, 1000); // Ajusta el tiempo de espera según tus necesidades
  }, 500); // Ajusta el tiempo de espera según tus necesidades
}
</script>

<style>
.overlay {
            top: 0;
            position: absolute;
            width: 100%;
            left: 0;
            background-color: rgba(0, 0, 0, 0.2);
            /* Ajusta la opacidad a tu gusto */
            height: 100%;
            z-index: 1;
        }
     .buttonno {
      position: relative;
      transition: all 0.3s ease-in-out;
      padding-block: 0.5rem;
      padding-inline: 1.25rem;
      background-color: #B11111;
      border-radius: 9999px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffff;
      gap: 10px;
      /*       font-weight: bold;
 */
      border: 3px solid #ffffff4d;
      outline: none;
      overflow: hidden;
      font-size: 15px;
    }

    .zoom-effect {
      transform: scale(1.05);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      transition: transform 0.3s ease;
    }

    .icon {
      width: 24px;
      height: 24px;
      transition: all 0.3s ease-in-out;
    }

    .buttonno:hover {
      transform: scale(1.05);
      border-color: #fff9;
    }

    .buttonno:hover .icon {
      transform: translate(4px);
    }

    .buttonno:hover::before {
      animation: shine 1.5s ease-out infinite;
    }

    .buttonno::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 100%;
      background-image: linear-gradient(120deg,
          rgba(255, 255, 255, 0) 30%,
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 0) 70%);
      top: 0;
      left: -100px;
      opacity: 0.6;
    }
</style>