---
export interface Props {
    isoColor?: string;
}
const {
    isoColor = '../../isologo.svg',
} = Astro.props

---
<div>
    <img
        src={isoColor}
        class="ucasal-logo w-36"
        alt="UCASAL LOGO"
    />
</div>
