---
import Logo from "../components/Logo.astro";
import BannerPromo from "./BannerPromo.astro";
import Container from "./Container.astro";
import Boton from "./boton.astro";
---
<div class="fixed top-0 left-0 w-full z-50">
  <BannerPromo />
  <nav class="bg-white bg-opacity-90 w-full border-b border-gray-200">
<Container> 
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-1">
    <a href="#" class="flex items-center hover:scale-105" onclick="scrollToTop()">
      <Logo isoColor="../../isologo.svg"/>
    </a>
    <div class="flex md:order-2">
      <Boton label="Quiero inscribirme" class=" hidden lg:block" onclick="https://www.ucasal.edu.ar/inscripciones/" />
      <button data-collapse-toggle="navbar-sticky" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
        aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="https://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-orange-100 md:flex-row md:space-x-8 md:mt-0 md:border-0">
        <li>
          <Boton label="Quiero inscribirme" class="md:mr-0 hidden md:block lg:block xl:block" onclick="https://www.ucasal.edu.ar/inscripciones/"/>
        </li>
        <li>
          <a href="#carrerasAccordeon"
            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:text-[#B11111] md:p-0 md:hover:bg-transparent border-gray-700">Carrera</a>
        </li>
        <li>
          <a href="#beneficios"
            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:text-[#B11111] md:p-0 md:hover:bg-transparent border-gray-700">Modalidad</a>
        </li>
        <li>
          <a href="#financiavenecia"
            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:text-[#B11111] md:p-0 md:hover:bg-transparent border-gray-700">Financiacion</a>
        </li>
        </ul>
      </div>
    </div>
</Container>
  </nav>
</div>