<a href="#" class="flex flex-col mx-auto items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-3xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="landing/ingreso-carreras-ucasal-aut/isologo.svg" alt="isologo">
    <div class="flex flex-col p-4 leading-normal">
        <h2 class="bigTitle">
            <span style="color: rgb(97, 96, 96)">UCASAL cumple con las Normas de</span
            >&nbsp;calidad:
          </h2>
          <ul class="list-disc ml-4 text-sm">
            <li class="text-lg mb-5">
                Control de ex&aacute;menes del sistema de educaci&oacute;n digital
            </li>
            <li class="text-lg mb-5">
                Validaci&oacute;n y entrega de t&iacute;tulos
            </li>
            <li class="text-lg">
                Gesti&oacute;n de consultas y reclamos del alumno modalidad digital
            </li>
        </ul>
    </div>
</a>
<style>
       .bigTitle {
            display: inline-block;
            color: #B11111;
            font-weight: 900;
            font-size: 1.5em;
            font-family: "Museo Sans";
        }
</style>